.navigation {
    overflow: hidden;
    border-bottom: solid grey;
    background: whitesmoke;
  }
  
.header-links {
    display: block;
    float: left;
}

.form{
    display: right;
    float: right;
    padding: 15px 17px;
}

