.form-button{
    border-radius: 5px;
    padding: 15px;
    margin-right: 15px;
    background-color: white; 
    color: green;
    border: solid 3px green;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
}